
body {
    background-color: white;
    height: 1500px;
}
/*flex container*/

.flexbox {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 2px;
    height: 100%;
    
}
/*Website logo*/

.logo {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position-y:0px ;
    font-size: 50px;
    height: 500px;
    width: 100%;
    left: 0;
    line-height:700px;
    margin-bottom:0px;
    margin-top: 0px;
    padding-top: 50px;
    min-height:400px;
    background-image: url("images/kennyG.jpg");
}
/*Navigation*/

.navbar {
    width: 100%;
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
}

/*Navigation links*/

.groupLinks {
    float:left;
    width: 130px;
    border-right: 1px solid grey;
}

li a {
    font-family:Helvetica ;
    color: white;
    background-color: black;
    display:block;
    text-decoration:none;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    
}

li a:hover {
    background-color:rgb(14, 196, 14);
}

.loneLink {
    width: 90px;
    float:right;
    border-left: solid 1px grey;

}

/*Heading for the content*/

.landingheading {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 300px;
    display: inline-block;
    font-size: 40px;
    border-bottom: solid 3px black;
    background-color: yellowgreen;
    
}

.historyheading {
    margin-left: 300px;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 60px;
    border-bottom: solid 3px black;
    
}

.variationsheading {
    margin-left: 250px;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 60px;
    border-bottom: solid 3px black;
}

.saxophonistsheading {
    margin-left: 250px;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 60px;
    border-bottom: solid 3px black;
}

.aboutheading {
    
    margin-left: 250px;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 60px;
    border-bottom: solid 3px black;
    display: inline-block;
}



/*Content div */

.historycontent {
    width: 900px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 50px;
    float:left;
    
}

.variationscontent {
    width: 900px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 50px;
    float:left;
    
}

.saxophonistscontent {
    width: 500px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 50px;
    float:left;
   
}


.aboutcontent {
    width: 900px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 50px;
    float:left;
   
}


/*The embed landing video*/
iframe {
    width:900px;
    height: 500px;
    margin-top: 20px;
    margin-left: 5%;
    float: left;
}

/*The text/Content*/

p {
    
    font-family:  Helvetica;
    background-color: silver;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px black;

}


/*Images*/

.yanagisawa {
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 5%;
    border: solid 1px black;
    height: 900px;
    width: 400px;
    float: right;
    
}
 
.adolphesax {
    height: 850px;
    width: 600px;
    border: 1px solid black;
    margin-right: 50px;
    float:right;
}
footer {
    padding-top:0px;
    margin-top: 0px;
    color: white;
    text-align: center;
    background-color:black;

}
