
body {
    background-color: white;
    height: 1200px;
}
/*flex container*/

.flexbox {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    height: 100%;
    
    
}
/*Website logo*/

.logo {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position-y:0px ;
    font-size: 80px;
    height: 500px;
    width: 100%;
    left: 0;
    line-height:500px;
    margin-bottom:0px;
    margin-top: 0px;
    padding-top: 50px;
    min-height:400px;
    background-image: url("images/kennyG.jpg");
}
/*Navigation*/

.navbar {
    width: 100%;
    border-bottom: 3px solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
}

/*Navigation links*/

.groupLinks {
    float:left;
    width: 130px;
    border-right: 3px solid black;
}

.groupLinks not:first-child{
    border-left: 3px solid black;
}

li a {
    font-family:Helvetica ;
    color: white;
    background-color: grey;
    display:block;
    text-decoration:none;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    
}

li a:hover {
    background-color:rgb(14, 196, 14);
}

.loneLink {
    width: 90px;
    float:right;
    border-left: solid 3px black;

}

/*Heading for the content*/

.landingheading {
    width: 30%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 35%;
    margin-right: 35%;
    display: inline-block;
    font-size: 50px;
    border-bottom: solid 3px black;
    background-color: yellowgreen;
    
}

.historyheading {
    margin-left: 300px;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 60px;
    border-bottom: solid 3px black;
    background-color: yellowgreen;
    
}

.variationsheading {
    margin-left: 250px;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 60px;
    border-bottom: solid 3px black;
    background-color: yellowgreen;
}

.saxophonistsheading {
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 60px;
    display: inline-block;
    border-bottom: solid 3px black;
    background-color: yellowgreen;
}

.aboutheading {
    
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 60px;
    border-bottom: solid 3px black;
    background-color: yellowgreen;
    display: inline-block;
}



/*Content div */

.historycontent {
    width: 900px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 50px;
    float:left;
    
}

.variationscontent {
    width: 900px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 50px;
    float:left;
    
}

.saxophonistcontent {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 0px;
    float:left;
    height: 2000px;
    
    
    
   
}


.aboutcontent {
    width: 900px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 50px;
    float:left;
   
}


/*The embed landing video*/
iframe {
    width:700px;
    height: 500px;
    margin-top: 0px;
    margin-left: 2%;
    float: left;
}

/*The text/Content*/


.profiles {
    display:flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 5px;
    list-style-type: none;
    margin-bottom:0px;
}

.profile {
    height: 400px;
    width: 400px;
    border:solid 1px black;
    margin-bottom: 0px;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    display: inline-block;
    width: 400px;
    background-color: greenyellow;
    border-bottom: solid 3px black;
    
}

.bio {
    
    margin-left: 0px;
    margin-top: 0px;
    display: inline-block;
    margin-right: 100px;
    
    
}

p {
    font-family:  Helvetica;
    background-color: silver;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px black;

}


/*Images*/

.yanagisawa {
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 2%;
    border: solid 1px black;
    height: 900px;
    width: 30%;
    float: right;
    
}
 
.adolphesax {
    height: 850px;
    width: 600px;
    border: 1px solid black;
    margin-right: 50px;
    float:right;
}

.varietiesOfSaxophone{
    list-style-type: none;
    margin-left: 10%;
}

.soprano {
    border: solid 1px black;
    height: 250px;
    width: 250px;
}   

.alto {
    border: solid 1px black;
    height: 300px;
    width: 250px;
    
}

.tenor {
    border: solid 1px black;
    height: 250px;
    width: 250px;
}

.baritone {
    border: solid 1px black;
    height: 250px;
    width: 250px;
}

.saxtext {
    margin-left: 0px;
}

